# LuminaRental Backend Configurations
PORT=3005

# Paste your MongoDB Atlas Connection String here to activate the production database!
# Example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/lumina_rental?retryWrites=true&w=majority
MONGODB_URI=
